.actionScriptProperties
.flexProperties
**./idea
.idea/
**/tmp
.project
.settings/org.eclipse.core.resources.prefs
**/bin-debug/
**/html-template
**/docs
CSU_HOF/
CSU_RC2/
csu_admin/csu_admin/Adobe AIR/
csu_admin/.settings/org.eclipse.core.resources.prefs
csu_admin/csu_admin/META-INF/
csu_admin/csu_admin/
